@media only screen and (max-width: 400px) {
  .main_header {
    background-position: center;
    height: auto;
  }
  .main {
    padding-left: 15px;
    padding-right: 15px;
  }
  .contract_number {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
  }
  .logo span {
    font-size: 25px;
  }

  .text {
    flex-direction: column;
  }
  .header {
    display: block;
    padding-bottom: 0px;
  }
  .logo {
    margin-left: 0;
    font-size: 17px;
  }
  .text_left {
    width: 100%;
  }

  .text_left h3 {
    margin-top: 0;
    margin-left: 55px;
    font-size: 30px;
    letter-spacing: 2px;
  }
  .text_left_from i {
    padding-left: 36%;
    font-size: 30px;
  }
  .text_left_from h1 {
    padding-left: 7px;
    font-size: 26px;
  }
  .text_left_dollar {
    padding-top: 7px;
    padding-left: 45%;
  }
  .text_left_dollar i {
    font-size: 25px;
  }
  .text_left .text_left_dollar h1 {
    font-size: 25px;
    padding-left: 7px;
    letter-spacing: 1px;
  }

  .slide {
    padding-left: 16%;
    padding-top: 0px;
  }
  .slide button {
    padding-left: 2px;
    letter-spacing: 0px;
    width: 14px;
    height: 9px;
  }
  .text_right {
    width: 100%;
    padding-top: 4%;
    padding-left: 0px;
  }
  .text_search {
    padding-top: 13px;
    height: 206px;
  }
  .text_search ul {
    font-size: 21px;
    font-weight: 700;
  }
  .input_right {
    margin-top: 0px;
  }

  .input_right input {
    margin-top: 13px;
    width: 87%;
    height: 38px;
  }
  .button_right {
    margin-top: 13px;
  }
  .button_right button {
    height: 38px;
    width: 91%;
  }
  .some_content {
    height: auto;
  }
  .some_content_header {
    flex-direction: column;
    padding-left: 4%;
    padding-right: 2%;
  }
  .some_content_left {
    width: 100%;
    padding-top: 20px;
    height: auto;
  }
  .some_content_left h4 {
    font-size: 25px;
    padding-top: 28px;
    font-weight: 400;
  }
  .some_content_left p {
    padding-top: 9px;
    line-height: 30px;
    font-size: 18px;
  }
  .some_content_left button {
    width: 140px;
    height: 45px;
    margin-top: 21px;
  }
  .some_content_right {
    width: 100%;
  }
  .some_content_right img {
    height: 216px;
    margin-top: 8%;
    padding-left: 0px;
    margin-bottom: 5%;
    width: 97%;
  }
  .services_main {
    height: 2000px;
  }
  .service_name h4 {
    font-size: 25px;
    padding-top: 10%;
    font-weight: 800;
    letter-spacing: 1px;
  }
  .services {
    display: block;
    margin-top: 10px;
    height: auto;
  }
  .services_icon {
    width: 100%;
    height: 88%;
  }
  .services_icon h6 {
    font-size: 43px;
  }
  .services_icon h1 {
    font-weight: 500;
    text-transform: capitalize;
    padding-top: 2%;
  }
  .services_icon p {
    padding-top: 13px;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
  }
  .tour {
    flex-direction: column;
    display: block;
  }
  .tour_left {
    width: 97%;
    padding-top: 45px;
    padding-left: 15px;
    height: 500px;
  }

  .tour_left_s1 h4 {
    left: 17%;
  }
  .tour_right {
    width: 97%;
    padding-top: 35px;
    padding-left: 15px;
    height: 480px;
    justify-content: normal;
  }
  .tour_right_img2 {
    display: block;
    height: 49%;
  }
  .tour_right_s2 {
    height: 220px;
  }
  .tour_right_europe {
    width: 100%;
  }
  .tour_right_canada {
    width: 100%;
  }
  .tour_right_s3 {
    margin-bottom: 11px;
    height: 220px;
  }
  .tour_right_s3 h4 {
    padding-top: 145px;
  }
  .tour_right_s4 {
    height: 220px;
  }
  .tour_right_s4 h4 {
    padding-top: 145px;
  }
  .experience {
    height: auto;
  }
  .experience_tour {
    display: block;
    padding-left: 5%;
    padding-right: 5%;
    height: 720px;
  }
  .experience_header {
    padding-top: 25px;
    letter-spacing: 1px;
    width: 100%;
    height: 274px;
  }
  .experience_header > h1 {
    font-size: 28px;
  }
  .experience_header > p {
    padding-top: 23px;
    line-height: 29px;
    font-size: 18px;
  }
  .experience_year p {
    padding-left: 10px;
  }
  .travel {
    flex-wrap: wrap;
    width: auto;
    padding-top: 0px;
    height: 260px;
  }
  .travel_group {
    width: 168px;
    height: 198px;
  }
  .our_guides h1 {
    padding-top: 35px;
    font-size: 29px;
  }
  .guides {
    height: auto;
    padding-bottom: 40px;
  }
  .guides1 {
    flex-wrap: wrap;
    margin-top: 24px;
    height: auto;
  }

  .guides2 {
    width: 94%;
    padding-bottom: 8%;
    height: auto;
    padding-right: 11px;
    padding-left: 14px;
  }
  .guides2 img {
    height: 390px;
  }
  .tour_header h4 {
    padding-top: 42px;
    font-size: 28px;
  }
  .tour_place {
    margin-top: 27px;
    display: block;
    height: auto;
  }

  .tour_place1 {
    width: 93%;
    height: auto;
    padding-left: 28px;
    padding-right: 20px;
    margin-bottom: 20px;
  }
  .tour_place1 img {
    height: 450px;
  }
  .tour_main {
    height: auto;
    padding-bottom: 50px;
  }
  .tour_gallary {
    height: auto;
    display: block;
  }
  .price_main {
    height: auto;
    padding-bottom: 40px;
  }
  .price_header h4 {
    padding-top: 59px;
    font-size: 25px;
  }
  .price {
    flex-wrap: wrap;
    height: auto;
    width: 100%;
  }
  .country_price {
    width: 50%;
    padding-left: 11px;
  }
  .country_price {
    width: 46%;
    height: 226px;
    padding-bottom: 15%;
  }
  .country_price h4 {
    font-size: 16px;
  }
  .china_price {
    height: 220px;
  }
  .malasia_price {
    height: 220px;
  }
  .japan_price {
    height: 220px;
  }
  .singapore_price {
    height: 220px;
  }
  .country_price_hover {
    bottom: 23px;
  }
  .country_price_hover h3 {
    margin-bottom: 18px;
    margin-top: 3px;
  }
  .country_price a {
    padding: 8px 10px;
  }
  .country_price:hover .country_price_hover {
    height: 37%;
    width: 94%;
    margin-left: 12px;
  }
  .client_review_main {
    height: auto;
  }
  .client_review_header h4 {
    padding-top: 27px;
    font-size: 25px;
  }
  .review_main {
    flex-direction: column;
    width: 90%;
    padding-left: 21px;
  }
  .review_header {
    width: 100%;
    padding-bottom: 93px;
    height: 220px;
  }
  .cr1 {
    width: 100%;
    height: 187px;
  }
  .cr1 p {
    color: #ccc;
    padding: 35px;
    font-size: 16px;
  }
  .inquiry_from_header h4 {
    font-size: 26px;
    padding-top: 43px;
  }
  .inquiry1 {
    height: auto;
    flex-wrap: wrap;
    padding-bottom: 18px;
  }
  .location {
    width: 100%;
  }
  .location p {
    font-size: 20px;
  }
  .inquiry_form {
    height: auto;
    display: block;
  }
  .inquiry_from_main {
    width: 100%;
    height: auto;
  }

  .inquiry_form1 {
    width: 100%;
    height: 485px;
  }
  .if1 input {
    width: 78%;
    height: 45px;
    margin: 30px 30px 0 30px;
    padding-left: 23px;
    font-size: 17px;
  }

  .if2 textarea {
    width: 80%;
    margin: 30px 30px 0 30px;
    font-size: 17px;
    padding-top: 5px;
  }

  .if3 button {
    width: 84%;
    padding-left: 20px;
    font-size: 21px;
    height: 49px;
  }
  .inquiry_form2 {
    width: 97%;
    height: auto;
    padding-bottom: 50px;
  }
  .inquiry_form2 img {
    height: 400px;
}
  .trip_spot {
    height: auto;
  }
  .trip_spot_header {
    padding-top: 22px;
  }
  .trip_spot_header i {
    font-size: 32px;
  }
  .trip_spot_header span {
    font-size: 27px;
  }
  .trip_spot_footer {
    flex-wrap: wrap;
    height: auto;
    padding-left: 5%;
    padding-bottom: 27%;
  }
  .tsf {
    width: 100%;
    height: auto;
    padding-bottom: 51px;
  }
  .tsf1 {
    width: 100%;
    height: auto;
  }
}
