* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.main_header {
  background-image: url(./image/banner5.jpg);
  background-repeat: no-repeat;
  height: 798px;
}

.main {
  padding-left: 14%;
  padding-right: 14%;
}

.contract_number {
  text-align: end;
  padding-top: 18px;
  font-size: 17px;
  color: white;
}

.logo {
  display: flex;
  padding-top: 25px;
  font-size: 13px;
  align-items: center;
  margin-left: 47px;
}

.logo span {
  font-size: 25px;
  color: white;
  padding-left: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}

.menu {
  display: flex;
  align-items: end;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding-left: 24px;
}

.text {
  display: flex;
  width: 100%;
  /* border: 1px solid; */
  height: 380px;
}

.text_left {
  width: 50%;
}

.text_left h3 {
  font-size: 72px;
  color: white;
  margin-top: 100px;
  margin-left: 37px;
}

.text_left_from {
  display: flex;
  align-items: baseline;
  color: white;
  font-size: 29px;
}

.text_left_from i {
  color: #ffffff;
  padding-left: 181px;
  font-size: 68px;
  margin-top: 2px;
}

.text_left_from h1 {
  padding-left: 13px;
  font-size: 29px;
}

.text_left_dollar {
  color: white;
  font-size: 11px;
  padding-left: 233px;
  padding-top: 18px;
  display: flex;
  align-items: baseline;
}

.text_left .text_left_dollar h1 {
  padding-left: 9px;
  font-size: 31px;
  letter-spacing: 2px;
}

.text_right {
  width: 50%;
  padding-left: 100px;
  padding-top: 112px;
}

.text_search {
  background-color: rgba(1, 17, 68, 0.17);
  padding-top: 29px;
  width: 100%;
  height: 198px;
  text-align: center;
}

.text_search ul {
  list-style: none;
  font-size: 25px;
}

.text_search ul li a {
  text-decoration: none;
  color: white;
}

.input_right {
  margin-top: 14px;
  width: 100%;
}

.input_right input {
  width: 40%;
  height: 45px;
  font-size: 13px;
  padding-left: 9px;
}

.button_right {
  margin-top: 21px;
}

.button_right button {
  height: 45px;
  width: 86%;
  font-size: 15px;
  background-color: #f4b200;
  border: none;
  color: white;
}

.slide {
  padding-left: 31px;
  padding-top: 25px;
}

.slide button {
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  width: 20px;
  height: 10px;
}

.slide button:hover {
  background-color: #f4b200;
  cursor: pointer;
}

.some_content {
  width: 100%;
  height: 550px;
  background-color: #f4b200;
}

.some_content_header {
  display: flex;
}

.some_content_left {
  height: 500px;
  width: 50%;
  padding-top: 20px;
}

.some_content_left h4 {
  color: white;
  font-size: 31px;
  padding-top: 80px;
}

.some_content_left p {
  color: white;
  font-size: 19px;
  padding-top: 50px;
}

.some_content_left button {
  background: #011144;
  color: white;
  width: 161px;
  height: 58px;
  font-size: 18px;
  border-radius: 9px;
  margin-top: 41px;
  box-shadow: 2px 2px 1px rgba(35, 35, 35, 0.15);
}

.some_content_right {
  width: 50%;
}

.some_content_right img {
  height: 327px;
  margin-top: 120px;
  width: 96%;
  padding-left: 21px;
}

.services_main {
  width: 100%;
  height: 1000px;
}

.services_heading {
  padding-left: 14%;
  padding-right: 14%;
}

.service_name {
  display: flex;
  justify-content: center;
}

.service_name h4 {
  padding-top: 100px;
  text-transform: uppercase;
  font-size: 48px;
  color: #323648;
}

.services {
  width: 100%;
  height: 230px;
  /* border: 1px solid; */
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.services_icon {
  width: 32%;
  height: 230px;
  /* border: 1px solid; */
}

.services_icon h6 {
  font-size: 35px;
  text-align: center;
}

.services_icon h6 i {
  color: #f4b200;
}

.services_icon h1 {
  text-align: center;
  font-size: 25px;
  color: #4c4444;
}

.services_icon p {
  text-align: center;
  font-size: 19px;
  padding-top: 25px;
  color: gray;
}

.tour {
  height: 450px;
  display: flex;
  justify-content: space-between;
}

.tour_left {
  width: 49%;
}

.tour_left_s1 {
  background-image: url(./image/s1.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  display: flex;
  position: relative;
}
.tour .tour_s1 {
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 40%);
}

.tour_left_s1 h4 {
  width: 100%;
  font-size: 23px;
  /* padding-top: 369px;
                text-align: center; */
  bottom: 60px;
  left: 119px;
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: absolute;
  /* background-color: rgba(0, 0, 0, 0.3); */
}

.tour_right {
  display: flex;
  width: 49%;
  justify-content: space-between;
  flex-direction: column;
}

.tour_right_img1 {
  width: 100%;
  height: 48%;
}

.tour_right_s2 {
  background-image: url(./image/s2.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
}

.tour_right_s2 h4 {
  font-size: 23px;
  padding-top: 156px;
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}

.tour_right_img2 {
  display: flex;
  width: 100%;
  height: 48%;
  justify-content: space-between;
}

.tour_right_europe {
  display: flex;
  width: 48%;
}

.tour_right_s3 {
  display: flex;
  background-image: url(./image/s3.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.tour_right_s3 h4 {
  font-size: 23px;
  color: white;
  padding-top: 168px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.tour_right_canada {
  display: flex;
  width: 48%;
}

.tour_right_s4 {
  display: flex;
  background-image: url(./image/s4.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.tour_right_s4 h4 {
  font-size: 23px;
  color: white;
  padding-top: 168px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.experience {
  width: 100%;
  height: 400px;
  background-image: url(./image/stats1.jpg);
  background-repeat: no-repeat;
  background-position: revert;
}

.experience_tour {
  padding-left: 14%;
  padding-right: 14%;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.4);
  height: 400px;
}

.experience_header {
  width: 49%;
  height: 300px;
  padding-top: 69px;
}

.experience_header > h1 {
  color: white;
  text-transform: uppercase;
  font-size: 45px;
}

.experience_header > p {
  color: white;
  font-size: 20px;
}

.experience_header .experience_year {
  display: flex;
  padding-top: 17px;
  align-items: baseline;
}

.experience_year h2 {
  color: #f4b200;
  font-size: 40px;
}

.experience_year p {
  font-size: 25px;
  color: white;
}
.travel {
  width: 49%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
}

.travel_group {
  width: 32%;
  height: 300px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.travel_group p {
  text-align: center;
  font-size: 20px;
  color: #ccc;
  padding-top: 3px;
  text-transform: capitalize;
}

.travel_group h1 {
  text-align: center;
  padding-top: 10px;
  color: white;
  font-size: 40px;
}

.travel_group1 {
  width: 65px;
  height: 65px;
  margin-top: 10px;
  /* margin-left: 50px; */
  border-radius: 37px;
  background-color: #f4b20094;
}

.guides {
  width: 100%;
  height: 730px;
  background: #ebedef;
}

.our_guides {
  display: flex;
  justify-content: center;
}

.our_guides h1 {
  padding-top: 90px;
  text-transform: uppercase;
  font-size: 48px;
  color: #323648;
}

.guides1 {
  width: 100%;
  height: 410px;
  margin-top: 57px;
  display: flex;
  justify-content: space-between;
}

.guides2 {
  width: 23%;
  height: 410px;
  display: flex;
  flex-direction: column;
}

.guides2 img {
  width: 100%;
  height: 330px;
}

.guides_manager {
  background-color: #011144;
  width: 100%;
  height: 80px;
}

.guides_manager h4 {
  color: white;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  letter-spacing: 2px;
}

.guides_manager h6 {
  text-align: center;
  text-transform: uppercase;
  color: #ccc;
  letter-spacing: 2px;
  padding-top: 7px;
}

.tour_main {
  width: 100%;
  height: auto;
}

.tour_header {
  display: flex;
  justify-content: center;
}

.tour_header h4 {
  padding-top: 90px;
  text-transform: uppercase;
  font-size: 48px;
  color: #323648;
}

.tour_place {
  width: 100%;
  height: 450px;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.tour_place1 {
  width: 32%;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.tour_place1 img {
  width: 100%;
  height: 400px;
  border-radius: 10px 10px 0 0;
}

.tour_place2 {
  width: 100%;
  height: 50px;
  background-color: #f4b200;
}
.tour_place2 h4 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding-top: 12px;
  letter-spacing: 2px;
}

.tour_gallary {
  width: 100%;
  height: 450px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.price_main {
  width: 100%;
  height: 600px;
  background-color: #ebedef;
}

.price_header {
  display: flex;
  justify-content: center;
}
.price_header h4 {
  padding-top: 90px;
  text-transform: uppercase;
  font-size: 48px;
  color: #323648;
}

.price {
  width: 100%;
  height: 350px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.country_price {
  width: 24%;
  height: 350px;
  position: relative;
}
.country_price h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: rgb(87 78 78);
  letter-spacing: 4px;
}
.china_price {
  background-image: url(./image/p1.jpg);
  width: 100%;
  height: 308px;
  margin-top: 13px;
  display: flex;
  justify-content: end;
  background-position: center;
}
.country_price:hover .country_price_hover {
  display: block;
  height: 45%;
}
.country_price_hover {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  overflow: hidden;
  background: rgba(1, 17, 68, 0.74);
  text-align: center;
  width: 100%;
  height: 0px;
  transition: 0.5s ease;
}
.country_price_hover h3 {
  color: #ccc;
  margin-bottom: 23px;
  margin-top: 46px;
  font-size: 25px;
}

.country_price a {
  text-decoration: none;
  color: #ccc;
  border: 1px solid #ccc;
  padding: 10px 20px;
}

.country_price2 {
  width: 100px;
  height: 50px;
  background-color: #f4b200;
  display: flex;
}

.country_price2 i {
  color: white;
  font-size: 13px;
  padding-top: 33px;
  padding-left: 12px;
}

.country_price2 h1 {
  color: white;
}

.malasia_price {
  background-image: url(./image/p2.jpg);
  width: 100%;
  height: 308px;
  margin-top: 16px;
  display: flex;
  justify-content: end;
  background-position: center;
}
.japan_price {
  background-image: url(./image/p3.jpg);
  width: 100%;
  height: 308px;
  margin-top: 16px;
  display: flex;
  justify-content: end;
  background-position: center;
}
.singapore_price {
  background-image: url(./image/p4.jpg);
  width: 100%;
  height: 308px;
  margin-top: 16px;
  display: flex;
  justify-content: end;
  background-position: center;
}
.client_review_main {
  width: 100%;
  height: 570px;
  background-color: #f4b200;
}
.client_review_header {
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
}
.client_review_header h4 {
  color: white;
  padding-top: 90px;
  text-transform: uppercase;
  font-size: 48px;
}

.review_main {
  width: 100%;
  height: 350px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.review_header {
  width: 32%;
  height: 350px;
}
.cr1 {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  background-color: #011144;
  display: flex;
}
.cr1 p {
  color: #ccc;
  padding: 50px;
  font-size: 14px;
  letter-spacing: 2px;
}
.cr2 {
  display: flex;
  justify-content: end;
}
.cr2 img {
  border-radius: 40px;
  border: 5px solid #f1bc2e;
  width: 50px;
}
.cr3 {
  text-align: end;
  color: white;
  letter-spacing: 1px;
  padding-top: 8px;
}
.inquiry_from_main {
  width: 100%;
  height: 1100px;
}

.inquiry_from_header {
  display: flex;
  justify-content: center;
}
.inquiry_from_header h4 {
  padding-top: 90px;
  text-transform: uppercase;
  font-size: 48px;
  color: #323648;
}
.inquiry1 {
  width: 100%;
  height: 250px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.location {
  width: 32%;
  height: 200px;
}
.location h1 {
  display: flex;
  justify-content: center;
}
.location h2 {
  text-align: center;
  font-size: 25px;
  color: #4c4444;
  padding-top: 10px;
}
.location p {
  line-height: 194%;
  text-align: center;
  padding-top: 22px;
  color: #707579;
}
.inquiry_form {
  width: 100%;
  height: 600px;
  /* border: 1px solid peru; */
  display: flex;
  justify-content: space-between;
}
.inquiry_form1 {
  width: 48%;
  height: 540px;
  /* border: 1px solid rgb(64, 11, 187); */
  background-color: rgb(255 254 254);
  box-shadow: 2px 7px 9px 11px #e9e9e9;
}
.if1 {
  color: #ccc;
}
.if1 input {
  width: 85%;
  height: 55px;
  padding-left: 20p;
  margin: 27px 27px 0 27px;
  padding-left: 18px;
  text-transform: capitalize;
  font-size: 18px;
  background-color: #f6f6f6;
  border: none;
}
.if2 textarea {
  width: 85%;
  padding-left: 20px;
  margin: 27px 27px 0 27px;
  padding-left: 18px;
  text-transform: capitalize;
  font-size: 18px;
  background-color: #f6f6f6;
  border: none;
  padding-top: 20px;
}

.if3 button {
  width: 88%;
  padding-left: 20px;
  margin: 27px 27px 0 27px;
  text-transform: capitalize;
  font-size: 18px;
  border: none;
  height: 41px;
  color: white;
  background-color: #f4b200;
}
.inquiry_form2 {
  width: 48%;
  height: 540px;
}

.inquiry_form2 img {
  width: 100%;
  height: 540px;
}
.map {
  width: 100%;
  height: 360px;
}
.trip_spot {
  width: 100%;
  height: 500px;
  background-color: #011144;
}

.trip_spot_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  font-size: 38px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}
.trip_spot_header span {
  margin-left: 10px;
}

.trip_spot_footer {
  width: 100%;
  height: 290px;
  /* border: 1px solid blue; */
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}

.tsf {
  width: 23%;
  height: 290px;
}
.tsf h1 {
  color: white;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 2px;
}

.tsf ul {
  list-style: none;
  font-size: 17px;
  font-weight: 400;
  padding-top: 40px;
}

.tsf ul li {
  padding-top: 15px;
}

.tsf ul li a {
  text-decoration: none;
  color: white;
}

.tsf ul li a span {
  padding-left: 10px;
}

.tsf1 {
  width: 23%;
  height: 450px;
}
.tsf1 h1 {
  color: white;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 2px;
}

.tsf1 ul {
  list-style: none;
  font-size: 17px;
  font-weight: 400;
  padding-top: 40px;
  color: white;
}

.tsf1 ul li {
  padding-top: 15px;
}

.footer_main {
  width: 100%;
  height: 100px;
  background-color: #212020;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a19a9a;
}

.copy-right {
  color: #ccc;
  letter-spacing: 1px;
}

.copy-right a {
  color: #ffffff;
  text-decoration: none;
}
